<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="dev.app.config">
    <!-- Sandbox address: https://edheroz.com or https://everydayhero-staging.com-->
    <add key="BaseServiceUrl" value="https://everydayhero-staging.com"/>
    <!-- UseProxy : Set to True to use the default fiddler proxy-->
    <add key="UseProxy" value="False"/>
    <!-- Get client secret and id: https://gist.github.com/bradparker/b5074aae4b9a13e5dc7032f703ab4410#step-52-creating-a-supporter-page -->
    <add key="ClientId" value="CLIENT_ID"/>
    <add key="ClientSecret" value="CLIENT_SECRET"/>

    <!-- Test Data - Differs per environment -->
    <add key="TestData_Campaign_Uid" value="au-123"/>
    <add key="TestData_Charity_Uid" value="au-60"/>
    <add key="TestData_UserEmail" value="valid@email.com"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
